::ng-deep {
  .mat-menu-panel {
    overflow: hidden;
    .mat-menu-item {
      min-width: 190px;
      font-size: 13px;
      color: #27272a;
      line-height: 36px;
      height: 36px;
      .material-icons {
        font-size: 17px;
        margin-left: -27px;
        margin-right: 0px;
      }

      &.dropdown {
        .material-icons {
          position: absolute;
          right: 8px;
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          align-items: center;
          font-size: 23px;
        }
        + .dropdown-menu {
          display: none;
          .mat-menu-item {
            padding-left: 26px;
            color: #595a5e;
          }
        }

        &.open {
          .material-icons {
            transform: translateY(-50%) rotateX(180deg);
          }
          + .dropdown-menu {
            display: block;
          }
        }
      }
    }

    &.icon-menu {
      .mat-menu-item {
        padding-left: 37px;
      }
    }
  }

  .menu-hide-panel {
    position: relative;
    pointer-events: none;
    .mat-menu-item {
      opacity: 0.1;
    }
  }

  .floating-element {
    padding: 10px 8px 0;
    display: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    position: absolute;
    transform: translateY(-50%);
    font-weight: bold;
    background: #fff;
    box-sizing: border-box;
    min-height: 138px;
    &.show {
      display: block;
    }

    p {
      color: #4b4b4b;
      font-size: 12px;
      margin-bottom: 8px;
      text-align: center;
      &.cancel {
        margin-top: 5px;
        color: #8e9197;
        cursor: pointer;
      }
    }

    .button-wrapper {
      button {
        background: #fff;
        display: block;
        width: 100%;
        opacity: 1;
        border-radius: 3px;
        border: none;
        padding: 8px 5px;
        font-size: 12px;
        cursor: pointer;
        &:first-child {
          margin-bottom: 5px;
          background: #ff5001;
          color: #fff;
        }
        &:nth-child(2) {
          border: 1px solid #ff5001;
          color: #ff5001;
        }
      }
    }
  }
}
