<button
  mat-button
  mat-raised-button
  [matMenuTriggerFor]="animals"
  (menuClosed)="menuClosed($event)"
>
  Open Menu
</button>

<mat-menu #animals="matMenu">
  <button
    mat-menu-item
    [matMenuTriggerFor]="movingItems"
    (menuClosed)="menuClosed($event)"
  >
    Move to Area
  </button>
  <button
    mat-menu-item
    [matMenuTriggerFor]="copyingItems"
    (menuClosed)="menuClosed($event)"
  >
    Copy to Area
  </button>
  <button mat-menu-item (click)="handleClick($event)">Duplicate</button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="handleClick($event)">Copy to Proposal</button>
  <ng-container *ngTemplateOutlet="floatingElement"></ng-container>
</mat-menu>

<mat-menu #copyingItems="matMenu">
  <button mat-menu-item>Barn</button>
  <button mat-menu-item>Irrigation Room</button>
  <button mat-menu-item>Nighttime Room</button>
  <button mat-menu-item>America Room</button>
  <button mat-menu-item>Front Porch</button>
  <button mat-menu-item>Garden</button>
  <button mat-menu-item>Goat Pen</button>
  <button
    mat-menu-item
    [matMenuTriggerFor]="guesthouse"
    (menuClosed)="menuClosed($event)"
  >
    Michael's Guesthouse
  </button>
</mat-menu>

<mat-menu #guesthouse="matMenu">
  <button mat-menu-item (click)="handleClick($event)">Option 1</button>
  <button mat-menu-item (click)="handleClick($event)">Option 2</button>
  <button mat-menu-item (click)="handleClick($event)">Option 3</button>
  <ng-container *ngTemplateOutlet="floatingElement"></ng-container>
</mat-menu>

<mat-menu #movingItems="matMenu">
  <button mat-menu-item (click)="handleClick($event)">Option 1</button>
  <button mat-menu-item (click)="handleClick($event)">Option 2</button>
  <button mat-menu-item (click)="handleClick($event)">Option 3</button>
  <ng-container *ngTemplateOutlet="floatingElement"></ng-container>
</mat-menu>

<ng-template #floatingElement>
  <div class="floating-element">
    <p>{{ floatingElemContent }}</p>
    <div class="button-wrapper">
      <button>Include Related Items</button>
      <button>This Item Only</button>
    </div>
    <p class="cancel" (click)="menuClosed($event)">Cancel</p>
  </div>
</ng-template>
